body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #43e97b, #38f9d7);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #1e7e34;
}

#resultado {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;

  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
